.advantages__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 280px;
    width: 100%;
    padding: 50px;
    margin-bottom: 40px;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--card-bg-color);
    color: var(--font-color);
    transition: all 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-position: 10% center;
    background-size: 60%;
}

.advantages__item:last-child {
    margin-bottom: 0;
}

.advantages__item-text {
    max-width: 400px;
    vertical-align: middle;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px var(--card-bg-color), -3px 3px 5px var(--card-bg-color), -3px -3px 5px var(--card-bg-color),  3px -3px 5px var(--card-bg-color);
}

.advantages__item-description {
    max-width: 400px;
    text-shadow: 3px 3px 5px var(--card-bg-color), -3px 3px 5px var(--card-bg-color), -3px -3px 5px var(--card-bg-color),  3px -3px 5px var(--card-bg-color);
    color: var(--secondary-font-color);
}

.advantages__item--right {
    align-items: flex-end;
    text-align: right;
}

.advantages__item--left {
    align-items: flex-start;
    text-align: left;
    background-repeat: no-repeat;
}

.advantage__item--1-background {
    background-image: url(../img/advantage_1.png);
    background-repeat: no-repeat;
    background-position: 0% center;
    background-size: auto 100%;
}

.advantage__item--1-background:hover {
    background-size: auto 105%;
}

.advantage__item--2-background {
    background-image: url(../img/advantage_2.png);
    background-repeat: no-repeat;
    background-position: 101% center;
    background-size: auto 110%;
}

.advantage__item--2-background:hover {
    background-size: auto 115%;
}

.advantage__item--3-background {
    background-image: url(../img/advantage_3.png);
    background-repeat: no-repeat;
    background-position: -1% -1%;
    background-size: auto 100%;
}

.advantage__item--3-background:hover {
    background-size: auto 105%;
}

.advantage__item--4-background {
    background-image: url(../img/advantage_4.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: auto 100%;
}

.advantage__item--4-background:hover {
    background-size: auto 105%;
}

@media screen and (max-width: 768px) {
    .advantages__item {
        min-height: 150px;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .advantages__item-text {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .advantages__item-description {
        font-size: 14px;
        line-height: 20px;
        max-width: 220px;
    }

    .advantage__item--1-background {
        background-position: 0% center;
        background-size: auto 50%;
    }

    .advantage__item--1-background:hover {
        background-size: auto 55%;
    }

    .advantage__item--2-background {
        background-position: 100% center;
        background-size: auto 60%;
    }

    .advantage__item--2-background:hover {
        background-size: auto 65%;
    }

    .advantage__item--3-background {
        background-position: 0% bottom;
        background-size: auto 50%;
    }

    .advantage__item--3-background:hover {
        background-size: auto 55%;
    }

    .advantage__item--4-background {
        background-position: 140% center;
        background-size: auto 100%;
    }

    .advantage__item--4-background:hover {
        background-size: auto 105%;
    }

}