:root {
    --font-color: #ffffff;
    --font-color-2: #000000;
    
    --bg-color: #000000;
    --bg-color-2: #eeeeee;


    --bg-color-gradient-1: #191919;
    --bg-color-gradient-2: #393939;

    --card-bg-color: #202020;
    --card-bg-color-opacity: rgba(32, 32, 32, 0.6);
    --card-bg-color-2: #2d2d2d;

    --box-shadow: rgba(0, 16, 61, 0.07);
    --accent: #BAC753;
}

:root[theme='dark'] {
    --font-color: #000000;
    --font-color-2: #ffffff;
    
    --card-bg-color: #fff;
    --card-bg-color-opacity: rgba(255,255,255,0.6);
    --card-bg-color-2: #d8d8d8;

    --bg-color: #eeeeee;
    --bg-color-2: #202020;

    --bg-color-gradient-1: #191919;
    --bg-color-gradient-2: #393939;


    --box-shadow: rgba(0, 16, 61, 0.07);
}