:root {
    --font-color: #000000;
    --secondary-font-color: rgb(31, 31, 31);

    --bg-color: #f9f9f9;
    --bg-color-opacity: rgba(255, 255, 255, 0.694);
    --bg-color-gradient-1: #191919;
    --bg-color-gradient-2: #393939;

    --card-bg-color: #fff;
    --card-bg-color-opacity: rgba(255,255,255,0.6);
    --card-bg-color-2: #d8d8d8;

    --box-shadow: rgba(0, 16, 61, 0.07);
    --accent: #BAC753;
}

:root[theme='dark'] {
    --font-color: #ffffff;
    --secondary-font-color: rgb(161, 161, 161);
    
    --bg-color: #000000;
    --bg-color-opacity: rgba(0, 0, 0, 0.259);
    --bg-color-gradient-1: #191919;
    --bg-color-gradient-2: #393939;

    --card-bg-color: #202020;
    --card-bg-color-opacity: rgba(32, 32, 32, 0.6);
    --card-bg-color-2: #2d2d2d;

    --box-shadow: rgba(0, 16, 61, 0.07);
    --accent: #BAC753;
}