.footer {
    width: 100%;
    min-height: 200px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 40px;
    margin-top: 40px;
    display: flex;
}

.footer__grid {
    max-width: 840px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.footer a {
    color: var(--font-color);
}

.footer__block {
    margin-bottom: 10px;
    flex-shrink: 0;
}

.footer__block--flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerimgSK {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.footerimgTG {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.footer__number {
    white-space: nowrap;
}

.footer__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
}

.footer__smi-link {
    width: 100px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.footer__address {
    margin-bottom: 20px;
}

.footer__map {
    border-radius: 20px;
}

@media screen and (max-width: 968px) {
    .footer {
        display: block;
    }

    .footer__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 10px;
        margin-bottom: 20px;
    }

    .footer__title {
        text-align: center;
        margin-bottom: 5px;
    }

    .footer__block {
        text-align: center;
        overflow: hidden;
    }

    .footer__block--flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}