.header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__row {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.header__nav-item {
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    text-decoration: none;
    transition: color 0.3s linear;
}

.header__nav-item:hover {
    color: var(--accent);
}

.header__nav-button {
    position: relative;
    margin-left: 25px;
}

.header__nav-button::before {
    position: absolute;
    content: '';
    top: 0;
    left: -25px;
    width: 2px;
    height: 100%;
    background-color: var(--font-color);
}

.header__nav-button--disabled {
    opacity: 0.5;
    user-select: none;
}

.header__logo svg {
    width: 100px;
    height: 94px;
}

.header__logo svg path {
    fill: var(--font-color) !important;
}


@media screen and (max-width: 998px) {
    .header {
        margin-top: 0;
    }

    .header__logo {
        margin-top: 40px;
    }

    .header__logo svg {
        width: 120px;
        height: 114px;
    }

    .header__row {
        display: flex;
        flex-direction: column;
    }

    .nav {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        transform: translateX(-100%);
        transition: transform 0.5s; 
        background-color: var(--bg-color);
        z-index: 4;
    }

    .nav.active {
        transform: translateX(0);
    }

    .header__nav-item {
        margin-right: 0;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
    }

    .header__nav-button {
        position: relative;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 32px;
    }

    .header__nav-button::before {
        display: none;
    }

    .burger-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 5;
    }

    .active ~ .burger-menu {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .burger-menu__button {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 3;
        overflow: hidden;
    }

    .burger-menu__button span {
        width: 30px;
        height: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--font-color);
        transition: all 0.5s;
    }

    .burger-menu__button span:nth-of-type(2) {
        top: calc(50% - 10px);
    }

    .burger-menu__button span:nth-of-type(3) {
        top: calc(50% + 10px);
    }


    .burger-menu__button.active span:nth-of-type(1) {
        display: none;
    }

    .burger-menu__button.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }

    .burger-menu__button.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }
}