.header {
    position: relative;
}

.header__video {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 460px;
    object-position: top center;
    overflow: hidden;
}

.header__content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
    z-index: 1;
}

.header__row {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__title {
    color: #ffffff;
    padding: 0 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 100%;
}

.header__main-line {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

.header__secondary-line {
    font-size: 18px;
    line-height: 32px;
}

.nav {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.header__nav-item {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    text-decoration: none;
    transition: color 0.2s linear;
    text-align: center;
}

.header__nav-item:hover {
    color: var(--accent);
}

.header__nav-item--external:hover {
    color: #ffffff;
}

.header__imgSK {
    margin-right: 5px;
}

.header__nav-button {
    position: relative;
    margin-left: 25px;
}

.header__nav-button::before {
    position: absolute;
    content: '';
    top: 0;
    left: -25px;
    width: 2px;
    height: 100%;
    background-color: #ffffff;
}

.header__nav-button--disabled {
    opacity: 0.5;
    user-select: none;
}

.header__mobile-logo {
    display: none;
}

.header__logo-container  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__logo svg {
    height: 94px;
}

.header__logo svg path {
    fill: #ffffff !important;
}

.burger-menu {
   display: none;
}

@media screen and (max-width: 998px) {
    .header {
        margin-top: 0;
    }

    .header__video {
        object-position: 95% 50%;
        height: 600px;
    }

    .header__logo {
        margin-top: 40px;
    }

    .header__mobile-logo {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-weight: bold;
    }

    .header__nav-item--external {
        display: none;
    }

    .header__logo svg {
        width: 120px;
        height: 114px;
    }

    .header__row {
        display: flex;
        flex-direction: column;
    }

    .nav {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 30px;
        transform: translateX(-100%);
        transition: transform 0.5s; 
        background-color: var(--bg-color-opacity);
        z-index: 4;
    }

        /* if backdrop support: very transparent and blurred */
        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        .nav {
            -webkit-backdrop-filter: blur(50px);
            background-color: transparent;
            backdrop-filter: blur(50px);
        }
        }

    .nav.active {
        transform: translateX(0);
    }

    .header__nav-item {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 32px;
    }

    .header__nav-button {
        position: relative;
        margin-left: 0;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 32px;
    }

    .header__nav-button::before {
        display: none;
    }

    .burger-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 5;
    }

    .active ~ .burger-menu {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .burger-menu__button {
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 3;
        overflow: hidden;
    }

    .burger-menu__button span {
        width: 30px;
        height: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        transition: all 0.5s;
    }

    .burger-menu__button span:nth-of-type(2) {
        top: calc(50% - 10px);
    }

    .burger-menu__button span:nth-of-type(3) {
        top: calc(50% + 10px);
    }

    .burger-menu__button.active span:nth-of-type(1) {
        display: none;
        background-color: var(--font-color);
    }

    .burger-menu__button.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
        background-color: var(--font-color);
    }

    .burger-menu__button.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
        background-color: var(--font-color);
    }
}

@media screen and (max-width: 768px) {
    .header__row {
        color: var(--font-color);
    }

    .header__video {
        object-position: 95% 50%;
    }
    
    .header__title {
        padding: 0;
    }

    .header__main-line {
        font-size: 38px;
        line-height: 42px;
    }

    .header__secondary-line {
        font-size: 14px;
        line-height: 20px;
    }

    .header__nav-button--disabled {
        display: none;
    }
}