.history {
    display: flex;
    margin: 0 auto;
    
}

.history__content {
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    padding: 40px 80px;
}

.history__title {
    width: 50%;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    text-align: left;
}

.history__description {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .history__title {
        width: 100%;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 20px;
        text-align: left;
    }

    .history__content {
        padding: 40px 0;
        font-size: 14px;
        line-height: 20px;
    }
}