  .problems {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  }

  .problem {
    flex: 1 0 100%;
    display: flex;
    overflow: hidden;
    background-color: var(--card-bg-color);
  }

  .problem__container {
    height: 500px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .problem__container::-webkit-scrollbar {
    display: none;
  }

  .problem__container::-webkit-scrollbar-track {
    background: transparent;
  }

  .problem__container::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

  .problem__image {
    width: 50%;
    object-fit: cover;
  }

  .problem__content {
    width: 50%;
    padding: 40px;
  }

  .problem__title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;
  }

  .problem__description {
    font-size: 18px;
    line-height: 28px;
  }

  .problems .slider__indicators li {
    background-color: var(--font-color);
    opacity: 0.5;
  }

  .problems .slider__indicators li.active {
    background-color: var(--font-color);
    opacity: 1;
  }

  .problems .slider__control {
    display: none;
  }

  .problems .slider__indicators {
    left: 50%;
  }

  @media screen and (max-width: 768px) {
    .problem {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
    }

    .problem__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .problem__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
    }

    .problem__content {
      width: 100%;
      height: auto;
      padding: 20px;
    }

    .problems .slider__indicators {
      left: 0;
      margin-right: auto;
      margin-left: auto;
    }
  }