@charset "UTF-8";

/* Works on Firefox */

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background-color: var(--bg-color);

}

*::-webkit-scrollbar-thumb {
    background-color: var(--card-bg-color);
    border-radius: 100px;
}

body {
    font-family: 'Ruberoid', 'Open Sans', sans-serif;
    margin: 0;
    background-color: var(--bg-color);
    font-size: 14px;
    line-height: 24px;
    color: var(--font-color);
    position: relative;
}

.overflow {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 80px;
}

.container--full-width {
    max-width: 100%;
    padding: 0;
}

.container--without-bottom {
    margin-bottom: 0;
}

.container__title {
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 40px;
}


@media screen and (max-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0 10px;
        margin-bottom: 40px;
    }

    .container__title {
        text-align: center;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .container--full-width {
        padding: 0;
    }
}

.shadow {
    box-shadow: var(--box-shadow) 0px 6px 20px 0px;
}

.slide-arrow {
    display: flex;
    margin: auto;
    height: 53px;
    border: none;
    width: 20px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    color: var(--font-color);
    opacity: 0.5;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.slide-arrow::before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 40%;
    width: 7px;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--font-color);
    transform: rotate(20deg);
}

.slide-arrow::after {
    position: absolute;
    content: '';
    top: 0;
    right: 40%;
    width: 7px;
    height: 30px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--font-color);
    transform: rotate(-20deg);
}

.slide-arrow:hover {
    opacity: 1;
}

.change-theme {
    width: 150px;
    text-align: center;
    line-height: 30px;
    vertical-align: top;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: var(--font-color);
    border: 3px solid  var(--font-color);
    border-radius: 20px;
    margin-left: 25px;
}