.team {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.person {
    width: 550px;
    min-height: 293px;
    border-radius: 20px;
    padding: 30px;
    padding-left: 20%;    
    background-color: var(--card-bg-color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.person__avatar {
    width: 60%;
    height: auto;
    object-fit: cover;
    align-self: baseline;
    position: absolute;
    bottom: -20%;
    left: -7%;
}

.person__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    flex-wrap: nowrap;
}

.person__name {
    margin-bottom: 20px;
    text-align: right;
    font-size: 36px;
    line-height: 48px;
    width: 100%;
}

.person__bio {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    width: 100%;
}

.person__profession {
    text-align: right;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .person__name {
        font-size: 28px;
        line-height: 32px;
    }

    .person {
        padding: 20px;
        padding-left: 20%;    
        min-height: 270px;
    }
}